@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
header {
    position: relative;
}
ul {
    list-style: none;
}
.wrapper {
    width: 1280px;
    margin: 50px auto;
}
.cart {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.cart:hover,
.cart.active {
    color: #dc3d3d;
    transform: scale(1.2);
}